.container {
    max-width: 900px;
    display: block;
    margin: auto;

    .input-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .input-title {
            width: 40%;
            background-color: white;
            border: 1px solid green;
            padding: 12px;
            border-radius: 4px;
            color: gray;
            font-size: 14px;
            margin-bottom: 14px;
            box-sizing: border-box;
            outline: none;
        }

        .input-content {
            width: 40%;
            border: 1px solid green;
            padding: 12px;
            border-radius: 4px;
            color: gray;
            min-height: 200px;
            font-size: 14px;
            margin-bottom: 16px;
            box-sizing: border-box;
            outline: none;
        }

        .save-btn {
            background-color: white;
            border: 1px solid green;
            padding: 12px 50px;
            border-radius: 4px;
            color: green;
            font-size: 14px;
            margin-bottom: 14px;
            text-transform: uppercase;
            font-weight: bold;
            outline: none;

            &.cancel {
                border: 1px solid orange;
                color: orange;
            }
        }

        .action-wrapper {
            display: flex;
            justify-content: space-between;
            width: 40%;
        }
    }

    .card-content {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 16px;
        box-shadow: 4px 3px 9px rgba(0, 0, 0, 0.1);
        margin-bottom: 16px;
        transition: ease 0.35s;
        position: relative;;
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
           // transform: scale(1.1);
        }

        p {
            margin: 0px;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
        }

        .date {
            font-size: 12px;
        }

        .content {
            margin-top: 20px;
            font-size: 14px;
        }
        .delete-btn{
            width: 30px;
            height: 30px;
            background-color: red;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: white;
            position: absolute;
            top: -15px;
            right: -15px;
          //  transition: ease-in .3s;
            &:hover{
                cursor: pointer;
                background-color: rgba(241, 67, 67, 0.877);
               // transform:scale(1.1);
            }
        }
    }
}